.challengeBoxContainer {
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive p img {
    margin-bottom: 1rem;
}
