.question {
  background: #fefefe;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.04);
  padding: 2.4rem;

  // & se referencia do mesmo elemento.
  // Toda "question" a partir da 2ª em diante, recebe "margin-top" de 8px;
  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid var(--purple);

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.8rem;
        color: #737380;
        font-size: 1.4rem;
      }
    }

    > div {
      display: flex;
      gap: 1.6rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter 0.2;

      &.like-button {
        display: flex;
        align-items: center;
        color: #737380;
        gap: 0.8rem;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
