#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    background: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    animation: asideAnimation 3s;
    padding: 12rem 8rem;

    img {
      max-width: 32rem;
      animation: contentAnimation 3s;
    }

    strong {
      font: 700 3.6rem "Poppins", sans-serif;
      line-height: 4.2rem;
      margin-top: 1.6rem;
      animation: contentAnimation 3s;
    }

    p {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-top: 1.6rem;
      color: var(--white-bg);
      animation: contentAnimation 3s;
    }
    @media (max-width: 768px) {
      width: 30%;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  main {
    flex: 8;

    padding: 0 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 32rem;
    align-items: stretch;
    text-align: center;

    animation: mainAnimation 3s;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 2.4rem;
      margin: 6.4rem 0 2.4rem;
      font-family: "Poppins", sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--white);
        border: 1px solid var(--gray);
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 1.4rem;
      color: var(--color-gray-magenta);
      margin-top: 1.6rem;

      a {
        color: #e559f9;
      }
    }
  }

  .create-room {
    margin-top: 6.4rem;
    height: 5rem;
    border-radius: 0.8rem;
    font-weight: 500;
    background: var(--red);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 0.8rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 1.6rem;
    color: var(--gray);

    margin: 3.2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 0.1rem;
      background: var(--gray);
      margin-right: 1.6rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 0.1rem;
      background: var(--gray);
      margin-left: 1.6rem;
    }
  }
}

@keyframes asideAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contentAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.85;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mainAnimation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
