.button {
  height: 5rem;
  border-radius: 0.8rem;
  font-weight: 500;
  background: var(--purple);
  color: var(--white);
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 0.8rem;
  }

  &.outlined {
    background: var(--white);
    border: 1px solid var(--purple);
    color: var(--purple);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
