:root {
  --title-color: #322153;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background: #f0f0f5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif-serif;
  color: var(--title-color);
}

#page-home {
  height: 100vh;
  background: url("../img/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
#page-home header {
  display: flex;

  margin-top: 48px;

  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;

  color: var(--title-color);
  font-weight: 700;
}

#page-home header a span {
  display: flex;
  margin-right: 16px;

  background-image: url("../img/log-in.svg");

  width: 20px;
  height: 20px;
}

/* Main */
#page-home main {
  max-width: 560px;
}

#page-home main h1 {
  font-size: 54px;
}
