{% extends "layout.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./assets/css/create-point.css"/>
{% endblock styles %}

{% set pageId = "page-create-point" %}

{% block content %}

    {% include "partials/page-header.html" %}
    <form action="">
        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">

                <div class="field">
                    <label for="imgEntidade">Imagem da entidade</label>
                    <input type="url" name="imgEntidade" placeholder="http://" required="required"/>
                </div>

                <div class="field">
                    <label for="nomeEntidade">Nome da entidade</label>
                    <input type="text" name="nomeEntidade" required="required"/>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" namne="address" required="required"/>
                </div>
                <div class="field">
                    <label for="number">Número / complemento</label>
                    <input type="text" name="number" required="required"/>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">
                            Selecione o estado
                        </option>
                    </select>
                    <input type="hidden" name="state"/>
                </div>
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">
                            Selecione a cidade
                        </option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="1">
                    <img src="/assets/img/lampadas.svg" alt="Lâmpadas"/>
                    <span>Lâmpadas</span>
                </li>
                <li data-id="2">
                    <img src="/assets/img/baterias.svg" alt="Pilhas e Baterias"/>
                    <span>Pilhas e Baterias</span>
                </li>
                <li data-id="3">
                    <img src="/assets/img/papeis-papelao.svg" alt="Papéis e Papelão"/>
                    <span>Papéis e Papelão</span>
                </li>
                <li data-id="4">
                    <img src="/assets/img/eletronicos.svg" alt="Resíduos Eletônicos"/>
                    <span>Resíduos Eletônicos</span>
                </li>
                <li data-id="5">
                    <img src="/assets/img/organicos.svg" alt="Resíduos Orgânicos"/>
                    <span>Resíduos Orgânicos</span>
                </li>
                <li data-id="6">
                    <img src="/assets/img/oleo.svg" alt="Óleo de Cozinha"/>
                    <span>Óleo de Cozinha</span>
                </li>
            </div>
            <input type="hidden" name="items"/>
        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="./assets/js/create-point.js"></script>
{% endblock scripts %}
