{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="./assets/css/home.css"/>
    <link rel="stylesheet" href="./assets/css/modal.css"/>
{% endblock styles %}

{% set pageId = "page-home" %}

{% block content %}
    <div class="content">
        <header>
            <img src="./assets/img/logo.svg" alt="Logomarca da Ecoleta"/>
            <a href="/create">
                <span></span>
                Cadastre um ponto de coleta
            </a>
        </header>

        <main>
            <h1>Seu marketplace de coleta de resíduos</h1>

            <p>
                Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.
            </p>

            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>
        </main>
    </div>
{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
    <script src="/assets/js/index.js"></script>
{% endblock scripts %}
